<%# add navigation links to this file %>
<li><%= link_to "Videos", spage_path(:id => "videos")%></li>
<li><%= link_to "Admin", admin_root_path %></li>
<li><%= link_to "Games", spage_path(:id =>"games") %></li>
<li><%= link_to "About Us", spage_path(:id => "about") %></li>
<li><%= link_to "Blogs", spage_path(:id => "blogs") %></li>
<% if user_signed_in? %>
<li><%= link_to current_user.username, '#' %></li>
<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
<% else %>
<li><%= link_to "Sign In", new_user_session_path %></li>
<li><%= link_to "Sign Up", new_user_registration_path%></li>
<% end %>